* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: white;
    min-width: 80%;
    position: sticky;
    padding: 0.3%;

}

header>h1 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 36px;
    font-weight: bold;

}

body {
    background: #24272E;
    font-size: 12px;

}

img {
    width: 100%;
}

.score-board {
    min-width: 80%;
    margin: 3% auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    max-width: 10%;
    width: 10%;
    color: white;
    font-size: 36px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;


}

.badge {
    background: #E2584D;
    color: white;
    font-size: 1.5rem;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 25px;
    left: -40px;

}

#computer-label {
    position: absolute;
    top: 25px;
    right: -45px;
}

.result {
    font-size: 2rem;
    color: white;
    width: 100%;
    margin-top: 3px;
}

.result>p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.choices {
    margin: 2% 0px;
    text-align: center;
    width: 100%;
}

.choice {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    padding: 0.5%;
    margin: 1%;
    transition: all 0.3s ease;
    width: 20%;


}

.choice:hover {
    cursor: pointer;
    background: #080808;

}

#action-message {
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 1rem;

}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #36db41;

}

.red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.grey-glow {
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}

.green-bg {
    background: rgb(94, 246, 94);
}

.red-bg {
    background: rgb(243, 51, 51);
}

.grey-bg {
    background: grey;
}

#reset-button {
    text-align: center;
    position: relative;
    font-size: 16px;
    padding: auto;
    margin-left: 30%;
    margin-bottom: 3%;
}

.foot {
    background-color: white;
    padding: auto;
    margin-top: 100%;
}

a {
    color: #24272E;

}